{% load static %}

<body style="background-color: #4F6EDA;">
  <div class="wrapper d-flex align-items-stretch">
		<nav id="sidebar">
            <div class="custom-menu">
                <button type="button" id="sidebarCollapse" class="btn btn-primary">
          <i class="fa fa-bars"></i>
          <span class="sr-only">Toggle Menu</span>
        </button>
    </div>
        <ul class="list-unstyled components mb-5" style="position: fixed; max-width: 250px;">
          <li>
            <a href="{% url 'mi_cuenta' %}"><span class="flaticon-user mr-3"></span> Mi cuenta</a>
          </li>
          <!--li>
            <a href="#"><span class="flaticon2-group mr-3"></span> Adopciones</a>
          </li-->
          <li>
              <a href="{% url 'crear_ficha' %}"><span class="flaticon-add-circular-button mr-3"></span> Crear ficha</a>
          </li>
          <li class="active">
              <a href="{% url 'buscar_ficha' %}"><span class="fa fa-user mr-3"></span> Buscar ficha</a>
          </li>
          <!--li>
            <a href="#"><span class="fa fa-briefcase mr-3"></span> Empresas</a>
          </li-->
          <!--li>
            <a href="#"><span class="fa fa-search mr-3"></span> Investigación</a>
          </li-->
          <li>
            <a href="{% url 'multas_condenas' %}"><span class="fa fa-money mr-3"></span> Multas y condenas</a>
          </li>
          <li>
            <a href="{% url 'normativa' %}"><span class="flaticon2-checking mr-3"></span> Normativas</a>
          </li>
          <!--li>
            <a href="#"><span class="fa fa-exclamation-triangle mr-3"></span> Procedimientos y protocolos</a>
          </li-->
          <!--li>
            <a href="#"><span class="fa fa-share mr-3"></span> Reinserción</a>
          </li-->
          <li>
            <a href="{% url 'zonas_patrullaje' %}"><span class="fa fa-map mr-3"></span> Zonas de patrullaje</a>
          </li>
        </ul>
		</nav>

    <!-- Page Content  -->
    <div id="content" class="container">
		<div class="card-body" style="margin-top: 50px; margin-right: 15%; margin-left: 15%;">
			<div class="form-group" style="text-align: center;">
                <span class="font-weight-boldest" style="font-size: 250%; width: auto; height: 50px;"><u>INFORME POLICIAL</u></span>
                <div class="form-group" style="text-align: left; width: 100%; heigth: 100%;">
                    <span style="font-size: 18px;">{{ fecha }} a las {{ hora }}</span>
                    <hr style="border: 2px solid;">
                    <table style="width:100%; margin-top: 10px;">
                      <tr style="font-size: 18px;">
                        <th style="text-align: left;">Descripción</th>
                        <th style="text-align: center;">Artículo</th>
                        <th style="text-align: center;">Tiempo</th>
                        <th style="text-align: center;">Dinero</th>
                      </tr>
                      {% for key in datos %}
                      <tr>
                        <th style="text-align: left;"><span style="font-size: 14px;">{{ key.descripcion }}</span></th>
                        <th style="text-align: center;"><span style="font-size: 14px;">{{ key.articulo }}</span></th>
                        <th style="text-align: center;"><span style="font-size: 14px;">{{ key.tiempo }}</span></th>
                        <th style="text-align: center;"><span style="font-size: 14px;">{{ key.dinero }}$</span></th>
                      </tr>
                      {% endfor %}
                      <tr>
                        <th style="text-align: left;"><span style="font-size: 14px;"></span></th>
                        <th style="text-align: center;"><span style="font-size: 14px;"></span></th>
                        <th style="text-align: center;"><span style="font-size: 14px;"></span></th>
                        <th style="text-align: center;">
                          <span style="font-size: 14px;">
                            <hr style="border: 1px solid; margin-bottom: 0; margin-top: 0; width: 70%">
                            {{ total_multas }}$
                          </span>
                        </th>
                      </tr>
                    </table>
                    <hr style="border: 2px solid;">
                    <div style="text-align: left;">
                      <span style="font-size: 20px;"><b>Durante la actuación, se incautaron los siguientes objetos:</b></span>
                      <br>
                      <span style="font-size: 18px;">{{ objetos }}</span>
                    </div>
                    <hr style="border: 2px solid;">
                    <div style="text-align: left;">
                      <span style="font-size: 20px;"><b>Detalles u observaciones de la actuación:</b></span>
                      <br>
                      <span style="font-size: 18px;">
                        {% if detalles %}
                        {{ detalles }}
                        {% else %}
                        Sin observaciones que destacar.
                        {% endif %}
                      </span>
                    </div>
                    <hr style="border: 2px solid;">
                    <div style="text-align: right">
                      <span style="font-size: 20px;"><b>{{ policia }}</b></span>
                    </div>
                </div>
			</div>
		</div>

        <div style="text-align: center; margin-bottom: 20px;">
			<a href="javascript:history.back()"><button type="button" class="btn btn-success">Volver</button></a>
			<button type="button" class="btn btn-danger" id="eliminar">Eliminar informe</button>
		</div>
    </div>
  </div>

      <!-- Modal-->
      <div class="modal fade" id="staticBackdrop" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="staticBackdrop" aria-hidden="true">
          <div class="modal-dialog" role="document">
              <div class="modal-content">
                  <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLabel">Información</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <i aria-hidden="true" class="ki ki-close"></i>
                      </button>
                  </div>
                  <div class="modal-body" style="font-size: 16px;">
                      ¿Estas seguro de que deseas eliminar el informe?
                  </div>
                  <div class="modal-footer">
                      <button type="button" class="btn btn-primary font-weight-bold" ><a href="{% url 'ciudadano_eliminar_detencion' %}?id={{datos.0.id}}" style="color:white;">Eliminar</a></button>
                      <button type="button" class="btn btn-light-primary font-weight-bold" data-dismiss="modal">Cancelar</button>
                  </div>
              </div>
          </div>
      </div>
</body>