{% load static %}

<body style="background-color: #4F6EDA;">
      <div class="wrapper d-flex align-items-stretch">
        <nav id="sidebar">
          <div class="custom-menu">
            <button type="button" id="sidebarCollapse" class="btn btn-primary">
              <i class="fa fa-bars"></i>
              <span class="sr-only">Toggle Menu</span>
            </button>
          </div>
        <ul class="list-unstyled components mb-5" style="position: fixed; max-width: 250px;">
            <li>
              <a href="#"><span class="flaticon2-group mr-3"></span> Adopciones</a>
            </li>
            <li class="active">
                <a href="{% url 'buscar_ficha' %}"><span class="fa fa-user mr-3"></span> Buscar ficha</a>
            </li>
            <li>
              <a href="#"><span class="fa fa-briefcase mr-3"></span> Empresas</a>
            </li>
            <li>
              <a href="#"><span class="fa fa-search mr-3"></span> Investigación</a>
            </li>
            <li>
              <a href="#"><span class="fa fa-money mr-3"></span> Multas y condenas</a>
            </li>
            <li>
              <a href="{% url 'normativa' %}"><span class="flaticon2-checking mr-3"></span> Normativas</a>
            </li>
            <li>
              <a href="#"><span class="fa fa-exclamation-triangle mr-3"></span> Procedimientos y protocolos</a>
            </li>
            <li>
              <a href="#"><span class="fa fa-share mr-3"></span> Reinserción</a>
            </li>
            <li>
              <a href="{% url 'zonas_patrullaje' %}"><span class="fa fa-map mr-3"></span> Zonas de patrullaje</a>
            </li>
          </ul>
        </nav>

        <!-- Page Content  -->
        <div id="content" class="container">
            <form method="POST" id="crearDetencion">
                {% csrf_token %}
                <div class="card-body" style="margin-top: 50px;">
                    <div class="form-group" style="display: inline;">
                        <select class="form-control" id="tipos_cargos" name="tipos_cargos" style="display: inline; width: 49%; margin-right: 1.5%">
                            <option value="">Tipos de cargos</option>
                            {% for key in tipos_cargos %}
                                <option value="{{ key.id }}">{{ key.descripcion }}</option>
                            {% endfor %}
                        </select>
                        <select class="form-control" id="cargos" name="cargos" style="display: inline; width: 49%;">
                            <option value="">Cargos</option>
                            {% for key in cargos %}
                                <option value="{{ key.id }}">{{ key.descripcion }} | {{ key.articulo }} | {{ key.tiempo }} | {{ key.dinero }}$</option>
                            {% endfor %}
                        </select>
                        <div>
                            <table id="tabla_cargos" style="width:100%; text-align: center; margin-top: 10px; display: none">
                              <tr>
                                <th>ID</th>
                                <th>Descripción</th>
                                <th>Artículo</th>
                                <th>Tiempo</th>
                                <th>Dinero</th>
                                <th>Acciones</th>
                              </tr>
                            </table>
                        </div>
                        <button type='button' class="btn btn-success" style="margin-top: 10px; width: 100%;" id="add"> Añadir cargo </button>
                        <span style="font-size: 18px;" class="form-text text-danger"><b>{{ form.cargos_escondido.0 }}</b></span>
                    </div>
                    <div class="form-group">
                        <label style="font-size: 16px; margin-top: 10px;"><b>Objetos incautados </b><span class="text-danger">*</span></label>
                        <textarea name="objetos" class="form-control" placeholder="Introduce los objetos incautados" required></textarea>
                        <span style="font-size: 18px;" class="form-text text-danger"><b>{{ form.objetos.1 }}</b></span>
                    </div>

                    <div class="form-group">
                        <label style="font-size: 16px;"><b>Detalles de la detención (Opcional) </b></label>
                        <textarea name="detalles" class="form-control" placeholder="Introduce los detalles de la detención"></textarea>
                    </div>

                    <div class="form-group" style="display:none">
                        <label style="font-size: 16px;"><b>Usado para enviar los datos de los cargos </b></label>
                        <textarea id="cargos_escondidos" name="cargos_escondido" class="form-control" placeholder="No tienes que introducir nada" required></textarea>
                    </div>

                    <div class="card-body" style="text-align: center;">
                        <button type="button" id="crear" class="btn btn-success" form="crearDetencion"> Crear </button>
                    </div>
                </div>
            </form>
        </div>
      </div>

      <!-- Modal-->
      <div class="modal fade" id="staticBackdrop" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="staticBackdrop" aria-hidden="true">
          <div class="modal-dialog" role="document">
              <div class="modal-content">
                  <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLabel">Datos guardados</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <i aria-hidden="true" class="ki ki-close"></i>
                      </button>
                  </div>
                  <div class="modal-body" style="font-size: 16px;">
                      Ficha creada correctamente.
                  </div>
                  <div class="modal-footer">
                      <button type="button" class="btn btn-light-primary font-weight-bold" data-dismiss="modal">Crear otra ficha</button>
                      <button type="button" class="btn btn-primary font-weight-bold" ><a href="{% url 'buscar_ficha' %}" style="color:white;">Salir</a></button>
                  </div>
              </div>
          </div>
      </div>
    </body>