{% load static %}

<body style="background-color: #4F6EDA;">
  <div class="wrapper d-flex align-items-stretch">
		<nav id="sidebar">
            <div class="custom-menu">
                <button type="button" id="sidebarCollapse" class="btn btn-primary">
          <i class="fa fa-bars"></i>
          <span class="sr-only">Toggle Menu</span>
        </button>
    </div>
        <ul class="list-unstyled components mb-5" style="position: fixed; max-width: 250px;">
          <li>
            <a href="{% url 'mi_cuenta' %}"><span class="flaticon-user mr-3"></span> Mi cuenta</a>
          </li>
          <!--li>
            <a href="#"><span class="flaticon2-group mr-3"></span> Adopciones</a>
          </li-->
          <li>
              <a href="{% url 'crear_ficha' %}"><span class="flaticon-add-circular-button mr-3"></span> Crear ficha</a>
          </li>
          <li class="active">
              <a href="{% url 'buscar_ficha' %}"><span class="fa fa-user mr-3"></span> Buscar ficha</a>
          </li>
          <!--li>
            <a href="#"><span class="fa fa-briefcase mr-3"></span> Empresas</a>
          </li-->
          <!--li>
            <a href="#"><span class="fa fa-search mr-3"></span> Investigación</a>
          </li-->
          <li>
            <a href="{% url 'multas_condenas' %}"><span class="fa fa-money mr-3"></span> Multas y condenas</a>
          </li>
          <li>
            <a href="{% url 'normativa' %}"><span class="flaticon2-checking mr-3"></span> Normativas</a>
          </li>
          <!--li>
            <a href="#"><span class="fa fa-exclamation-triangle mr-3"></span> Procedimientos y protocolos</a>
          </li-->
          <!--li>
            <a href="#"><span class="fa fa-share mr-3"></span> Reinserción</a>
          </li-->
          <li>
            <a href="{% url 'zonas_patrullaje' %}"><span class="fa fa-map mr-3"></span> Zonas de patrullaje</a>
          </li>
        </ul>
		</nav>

    <!-- Page Content  -->
    <div id="content" class="container">
		<div class="card-body" style="margin-top: 50px; margin-right: 15%; margin-left: 15%;">
			<div class="form-group" style="text-align: center;">
                <span class="font-weight-boldest" style="font-size: 250%; width: auto; height: 50px;"><u>LICENCIA Nº {{ datos_licencias.0.id }} | {{ datos_licencias.0.descripcion }} |</u></span>
                <div class="form-group" style="text-align: left; width: 100%; heigth: 100%;">
                    <span style="font-size: 18px;">{{ datos_licencias.0.fecha }} a las {{ datos_licencias.0.hora }}<br></span>
                    <span style="font-size: 18px;">Entregada por el agente <b>{{ datos_policia.0.nombre }} {{ datos_policia.0.apellido }}</b> | {{ datos_policia.0.placa }} |</span>
                    <hr style="border: 2px solid;">
                    <span style="font-size: 18px;"><b>Motivo o utilización de la licencia:</b><br></span>
                    <span style="font-size: 18px;">{{ datos_licencias.0.utilizacion }}<br></span>
                    <span style="font-size: 18px;"><b>Psicotécnico:</b>
                        {% if datos_licencias.0.psicotecnico == 1 %}
                        El sujeto trae el psicotecnico.<br></span>
                        {% else %}
                        Sin psicotécnico.<br>
                        {% endif %}
                    <span style="font-size: 18px;"><b>Confirmación por parte de LSFD:</b>
                        {% if datos_licencias.0.confirmacion == 1%}
                        Se ha confirmado de la veracidad del psicotécnico.<br></span>
                        {% else %}
                        Sin confirmación.<br>
                        {% endif %}
                    <hr style="border: 2px solid;">
                    <span style="font-size: 18px;"><b>Comentarios sobre la expedición de esta licencia:</b><br>
                        {% if datos_licencias.0.comentarios %}
                        {{ datos_licencias.0.comentarios }}<br></span>
                        {% else %}
                        Sin comentarios.<br>
                        {% endif %}
                </div>
			</div>
		</div>

        <div style="text-align: center; margin-bottom: 20px;">
			<button type="button" class="btn btn-success" onclick="cambiar_estado({{datos_licencias.0.id}})">Cambiar estado</button>
		</div>
    </div>
  </div>

  <!-- Modal para busca y captura-->
  <div class="modal fade" id="modal" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="staticBackdrop" aria-hidden="true">
	  <div class="modal-dialog" role="document">
		  <div class="modal-content">
			  <div class="modal-header">
				  <h5 class="modal-title" id="exampleModalLabel">Información:</h5>
				  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
					  <i aria-hidden="true" class="ki ki-close"></i>
				  </button>
			  </div>
			    <div class="modal-body" id="modal-body" style="font-size: 16px;">
			  </div>
			  <div class="modal-footer">
				  <button type="button" class="btn btn-primary font-weight-bold" data-dismiss="modal">Salir</button>
			  </div>
		  </div>
	  </div>
  </div>

</body>