{% load static %}

<body style="background-color: #4F6EDA;">
  <div class="wrapper d-flex align-items-stretch">
        <nav id="sidebar">
            <div class="custom-menu">
                <button type="button" id="sidebarCollapse" class="btn btn-primary">
          <i class="fa fa-bars"></i>
          <span class="sr-only">Toggle Menu</span>
        </button>
    </div>
        <ul class="list-unstyled components mb-5" style="position: fixed; max-width: 250px;">
      <li>
        <a href="#"><span class="flaticon2-group mr-3"></span> Adopciones</a>
      </li>
      <li>
        <a href="{% url 'crear_ficha' %}"><span class="flaticon-add-circular-button mr-3"></span> Crear ficha</a>
      </li>
      <li>
          <a href="{% url 'buscar_ficha' %}"><span class="fa fa-user mr-3"></span> Buscar ficha</a>
      </li>
      <li>
        <a href="#"><span class="fa fa-briefcase mr-3"></span> Empresas</a>
      </li>
      <li>
        <a href="#"><span class="fa fa-search mr-3"></span> Investigación</a>
      </li>
      <li>
        <a href="#"><span class="fa fa-money mr-3"></span> Multas y condenas</a>
      </li>
      <li>
        <a href="{% url 'normativa' %}"><span class="flaticon2-checking mr-3"></span> Normativas</a>
      </li>
      <li>
        <a href="#"><span class="fa fa-exclamation-triangle mr-3"></span> Procedimientos y protocolos</a>
      </li>
      <li>
        <a href="#"><span class="fa fa-share mr-3"></span> Reinserción</a>
      </li>
      <li class="active">
        <a href="{% url 'zonas_patrullaje' %}"><span class="fa fa-map mr-3"></span> Zonas de patrullaje</a>
      </li>
    </ul>
    </nav>

    <!-- Page Content  -->
    <div id="content" class="container">
		<div class="card-body" style="margin-top: 50px;">
			<div class="form-group" style="text-align: center;">
                <span class="label label-xl font-weight-boldest label-inline label-success" style="font-size: 250%; width: auto; height: 50px;"><u>Normativa General - AfterLifeRP</u></span>
			</div>
            <div class="form-group" style="text-align: center; width: 100%; heigth: 100%;">
                <a href="https://docs.google.com/document/d/1yu6A0gLDTEj96rZVyFycZtPbshVQTsWXtncF4J-CvhY/edit" style="font-size: 40px"><span class="flaticon2-checking mr-3"></span>Leer normativa</a>
            </div>
            <div class="form-group" style="text-align: center;">
                <span class="label label-xl font-weight-boldest label-inline label-success" style="font-size: 250%; width: auto; height: 50px;"><u>Normativa interna de la LSPD - AfterLifeRP</u></span>
            </div>
            <div class="form-group" style="text-align: center;">
                <a href="https://docs.google.com/document/d/1f8f2th_JOF03VjAwNC2OrveOdbLd2EW1yfXkxQsL6xI/edit" style="font-size: 40px"><span class="flaticon2-checking mr-3"></span>Leer normativa</a>
            </div>
		</div>
    </div>
  </div>
</body>